body {
    font-family: Arial, sans-serif;
    background-color: #070707;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: rgb(109, 191, 230);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0e0d0d;
}

.main-image {
    width: 100%;
    max-width: 100px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1px;
}

p {
    color: #0e0d0d;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    color: #0e0d0d;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"] {
    padding: 5px;
    width: 40%;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

#result {
    text-align: left;
    background-color: #fafafa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
